body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1B1B22;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: auto;
    min-height: 100px;
    padding-left: 2%;
    padding-right: 2%;
}
.logo {
    width: 150px;
    max-width: 150px;
}
.navbar {
    width: 50%;
}
.navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    gap: 30px;
    width: 100%;
}
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}
.btn {
    display: block;
    padding: 8px 15px;
    background-color: #467FF7;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: none;
}
@media screen and (max-width:768px) {
    .navbar-links {
        display: none;
    }
}
@media screen and (max-width:478px) {
    .header{
        height: auto;
        padding-left: 30px;
    }
}

/* burger */
.wrapper {
    display: none;
 }

 @media screen and (max-width: 768px) {
    .wrapper {
        display: block;
        position: static;
        z-index: 902;
    }
    
    .burgermenu {
        position: fixed;
        right: 0;
        top: 100px; 
        width: 100%;
        height: 0; 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #ffffff;
        overflow: hidden;
        transition: height 0.3s ease; 
        z-index: 903;
        padding-left: 20px;
    }
    
    .burgermenu_active {
        height: 20%;
    }
    
    .burger-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 100%;
    }
    
    .burger-list a {
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #55595c;
        font-size: 14px;
    }
    
    .burger-button {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 50px;
        height: 43px;
        position: fixed;
        right: 20px;
        top: 30px;
        z-index: 904;
    }
    
    .close {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(50%, -50%);
        cursor: pointer;
    }
    
    .close:before,
    .close:after {
        content: '';
        position: absolute;
        width: 3px;
        height: 20px;
        background:#356de5;
    }
    
    .close:before {
        transform: rotate(45deg);
    }
    
    .close:after {
        transform: rotate(-45deg);
    }
    
    .burger-button div {
        width: 25px;
        height: 3px;
        background-color: #356de5;
    }
 }
/* banner */
.banner {
    background-image: url('../img/mystake-banniere.jpg');
    background-position:inherit;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 700px;
    padding-top: 120px;
    position: relative;
}
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    gap:40px;
    z-index: 2;
    position: relative;
    /* margin-top: -160px; */
}
.banner__title {
    color: #fff;
    font-family: "Anton", Sans-serif;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
.banner__content {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    word-spacing: 0em;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}
.banner__btn {
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0px;
    fill: var(--e-global-color-d6cea4e);
    color: var(--e-global-color-d6cea4e);
    background-color: #467FF7;
    border-radius: 5px 5px 5px 5px;
    padding: 16px 55px 16px 55px;
    border:none;
    color:#fff;
    transition: transform 0.5s ease;
}
.banner__btn:hover {
    transform: scale(1.1);
    background-color:#356de5;

}
@media screen and (min-width: 768px) and (max-width:1024px) {
    .banner {
        min-height: 450px;
        padding-top: 140px;
    }
    .banner__box {
        padding-left: 40px;
        padding-right: 40px;
        gap:30px;
    }
    .banner__title {
        color: #fff;
        font-family: "Anton", Sans-serif;
        font-size: 60px;
        font-weight: 500;
        text-transform: uppercase;
        font-style: normal;
        text-decoration: none;
        line-height: 1em;
        letter-spacing: 0px;
        -webkit-text-stroke-width: 0px;
        stroke-width: 0px;
        -webkit-text-stroke-color: #000;
        stroke: #000;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    }
}
@media screen and (max-width:768px) {
    .banner {
        min-height: 450px;
        padding-top: -40px;
    }
    .banner__box {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: -70px;
    }
    .banner__title {
        font-size: 42px;
        margin-top: 20px;
    }
    .banner__content {
        font-size: 26px;
    }
}

@media screen and (max-width:478px) {
    .banner {
        height: auto;
        margin-top: -20px;
        gap:20px;
    }
    .slot {
        padding: 0;
    }
    .banner__box {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 30px;
        gap:20px;
    }
    .banner__title {
        font-size: 42px;
    }
    .banner__content {
        font-size: 28px;
    }
    .btn {
        width: 60px;
        height: 40px;
    }
    /* .banner__box div {
        display: flex;
        justify-content: center;
    } */
    .banner__btn {
        width: 250px;
        height: 40px;
        font-size: 16px;
        padding: 10px;
        margin-bottom: 30px;
    }
}

/* text */

.text {
    background-color:#1B1B22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-left: 150px;
    padding-right: 150px;
}
.text__box {
    padding-top: 30px;
}

.text__title {
    color: #FFFFFF;
    font-family: "Anton", Sans-serif;
    font-size: 46px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    word-spacing: 0em;
    text-align: center;
}
.text__title-h3 {
    color: #FFFFFF;
    font-family: "Anton", Sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    word-spacing: 0em;
    margin-top: 30px;
}
.text__title-h4 {
    color: #FFFFFF;
    font-family: "Anton", Sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 1px;
    word-spacing: 0em;
    margin-top: 30px;
}
.text__content {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#FFFFFF;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-top: 30px;
    
}
.text-btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.text__img {
    width: 80%;
}
.text__list li {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#FFFFFF;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-top: 30px;
}
.text-table {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 30px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 30px;
}

td {
    border: 3px solid #467FF7;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@media (max-width: 600px) {
    td {
        padding: 5px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    td {
        padding: 2px;
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    .text {
        padding-top: 60px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .text__title {
        font-size: 44px;
    }
    .text__title-h3 {
        font-size: 32px;
    }
    .text__title-h4 {
        font-size: 21px;
    }
    .text__content {
        font-size: 14px;
    }
    .text__list li {
        font-size: 14px;
    }
}
@media screen and (max-width:768px) {
    .text {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .text__box {
        padding-top: 30px;
    }
    .text__title {
        font-size: 28px;
        text-align: center;
    }
    .text__title-h3 {
        font-size: 24px;
        margin-top: 30px;
    }
    .text__title-h4 {
        font-size: 20px;
    }
    .text__content {
        font-size: 14px; 
    }
    .text__list li {
        font-size: 14px;
    }
}
@media screen and (max-width:478px) {
    .text {
        padding-left: 10px;
        padding-right: 10px;
    }
    .text__box {
        padding-top: 10px;
    }
    .text__title {
        font-size: 28px;
    }
    .text__title-h3 {
        font-size: 26px;
        margin-top: 20px;
        padding-top: 10px;
    }
    .text__title-h4 {
        font-size: 22px;
        margin-top: 20px;
    }
    .text__content {
        font-size: 14px;
        margin-top: 20px;
        
    }
    .text-btn {
        margin-top: 20px;
    }
    .text__btn {
        width: 250px;
        height: 40px;
        font-size: 16px;
        padding: 10px;
    }
    .text__img {
        width: 80%;
    }
    .text__list li {
        font-size: 14px;
        margin-top: 10px;
    }
}

/* slot */

.slot {
    background-color:#1B1B22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
}
.slot__box { 
}
.slot__title {
    color: #FFFFFF;
    font-family: "Anton", Sans-serif;
    font-size: 46px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    word-spacing: 0em;
    margin-top: 30px;
    text-align: center;
}
.slot__content { 
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#FFFFFF;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-top: 30px;
}
.slot__items {
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top: 30px;
 }
.slot__item { 
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 100%;
}
.slot__item-img {
    width: 100%;
    transition: transform 0.5s ease;
 }
 .slot__item-img:hover {
    transform: scale(1.1);
 }
.slot__item-title { 
    color: #FFFFFF;
    font-family: "Anton", Sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 1px;
    word-spacing: 0em;
    margin-top: 30px;
    text-align: center;
}
.slot__item-content { 
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:#FFFFFF;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-top: 30px;
}
.slot__btns { 
    display: flex;
    justify-content: center;
    margin-top: auto;
}
.slot__btns a {
    text-decoration: none;
}
.slot__btn {
    margin-top: 20px;
    display: block;
    padding: 8px 15px;
    background-color: #467FF7;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: none;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.slot__btn:hover {
    transform: scale(1.3);
}
@media screen and (min-width: 768px) and (max-width:1024px) {
    .slot {
        padding-left: 30px;
        padding-right: 30px;
    }
    .slot__box { 
    }
    .slot__title {
        font-size: 44px;
    }
    .slot__content { 
        font-size: 14px;
    }
    .slot__items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 100%;

     }
    .slot__item { 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 300px;
    }
    .slot__item-title { 
        font-size: 25px;
    }
    .slot__item-content { 
        font-size: 14px;
        text-align: center;
    }

}
@media screen and (max-width:768px) {
    .slot {
        padding-left: 20px;
        padding-right: 20px;
    }
    .slot__title {
        color: #FFFFFF;
        font-family: "Anton", Sans-serif;
        font-size: 46px;
        font-weight: 400;
        text-transform: none;
        font-style: normal;
        text-decoration: none;
        line-height: 1.2em;
        letter-spacing: 0px;
        word-spacing: 0em;
        margin-top: 30px;
        text-align: center;
    }
    .slot__content { 
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: 400;
        color:#FFFFFF;
        letter-spacing: 2px;
        line-height: 1.2;
        margin-top: 30px;
    }
    .slot__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:30px;
        margin-top: 30px;
     }
    .slot__item { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .slot__item div {
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .slot__item-img {
        width: 300px;
     }
    .slot__item-content { 
        font-size: 16px;
        text-align: center;
    }
}
@media screen and (max-width:478px) {
    .slot {
        padding-left: 10px;
        padding-right: 10px;
    }
    .slot__box { 
    }
    .slot__title {
        font-size: 28px;
        letter-spacing: 2px;
    }
    .slot__content { 
        font-size: 14px;
        line-height: 1.5;
    }
    .slot__items {
        padding: 10px;
        flex-wrap: wrap;
     }
    .slot__item-title { 
        font-size: 18px;
    }
    .slot__item-content { 
        font-size: 14px;
        text-align: center;
    }
}

/* footer */
footer {
    margin-bottom: auto;
    height: auto;
}
.footer__top { 
    background-color:#467FF7;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    padding: 30px;
    padding-right: 100px;
    padding-left: 100px;
}
.footer__top a {
    padding: 5px 15px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    
}
.footer_bottom {
    background-color:#1B1B22;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    height: auto;
    padding: 20px 10px;
 }
.lang {
    display: flex;
    padding: 10px;
 }
.lang:hover {
    background-color:#fff;
}
.lang:hover .lang__desc {
    color:#000;
    cursor: pointer;
}
.lang__img { 
    width: 100%;
    max-width: 18px;
    height: 12px;
    margin-right: 5px;
 }
.lang__desc { 
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
@media screen and (min-width: 768px) and (max-width:1024px) {
    .footer__top a {
        text-align: center;
        
    }
    .footer_bottom {
        gap:0px;
     }
    .lang {
        display: flex;
        padding: 10px;
     }
}
@media screen and (max-width:768px) {
    footer {
        margin-bottom: auto;
        height: auto;
    }
    .footer__top { 
        gap:10px;
        padding: 20px 10px;
    }
    .footer__top a {
        text-align: center;
        
    }
    .footer_bottom {
        justify-content: center;
        gap:10px;
        height: auto;
        padding: 40px 20px ;
     }
    .lang {
        padding: 0px;
     }
    .lang__img { 
        width: 100%;
        max-width: 18px;
        height: 12px;
        margin-right: 5px;
     }
    .lang__desc { 
        font-size: 14px;
    }
}
@media screen and (max-width:478px) {
    footer {
        margin-bottom: auto;
        height: auto;
    }
    .footer__top { 
        gap:10px;
        padding: 20px 10px;
    }
    .footer__top a {
        text-align: center;
        
    }
    .footer_bottom {
        justify-content: center;
        gap:10px;
        height: auto;
        padding: 40px 20px ;
     }
    .lang {
        padding: 0px;
     }
    .lang__img { 
        width: 100%;
        max-width: 18px;
        height: 12px;
        margin-right: 5px;
     }
    .lang__desc { 
        font-size: 14px;
    }
}